---
layout: page
title: Projects 
header: Pages
group: navigation
---
{% include JB/setup %}

<h2>All Projects and Pages</h2>
<ul>
<li><a href="http://slyrabbit.net/ok-sparks/">Ok Sparks!</a></li>
<li><a href="http://domesticscience.org.uk">Domestic Science</a></li>
<li><a href="http://currently.no">Currently</a></li>
<li><a href="http://soundnetwork.org.uk/?q=node/453">Crazy Golf Hack</a></li>
<li><a href="http://minecraftofthings.tumblr.com">The Minecraft Of Things</a></li>
<li><a href="http://portforward.tumblr.com/">PortForward</a></li>
<li><a href="http://soundnetwork.org.uk">SoundNetwork</a></li>


{% assign pages_list = site.pages %}
{% include JB/pages_list %}
</ul>
